<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Monitoring -->
      <package
            uri="http://www.se.jku.at/monitoring/1.0"
            class="Monitoring.MonitoringPackage"
            genModel="model/Monitoring.genmodel"/>
   </extension>

</plugin>
